Source: libnss-stns
Section: admin
Priority: extra
Maintainer: pyama86
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/pyama86/libnss_stns

Package: libnss-stns
Architecture: any
Description: simple toml name service nss module
Depends: dpkg-dev
Pre-Depends: ${misc:Pre-Depends}

Package: libpam-stns
Architecture: any
Description: simple toml name service pam module
Depends: dpkg-dev
Pre-Depends: ${misc:Pre-Depends}
