#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

package=lib-stns

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/${package}/usr/local/bin/
	install    -m 655 debian/stns-query-wrapper debian/${package}/usr/local/bin/stns-query-wrapper
	install    -m 655 debian/stns-key-wrapper debian/${package}/usr/local/bin/stns-key-wrapper
	install -d -m 755 debian/${package}/usr/lib/$(DEB_HOST_MULTIARCH)/
	install    -m 655 debian/libnss-stns.so debian/${package}/usr/lib/$(DEB_HOST_MULTIARCH)/libnss_stns.so
	install -d -m 755 debian/${package}/lib/$(DEB_HOST_MULTIARCH)/security
	install    -m 655 debian/libpam-stns.so debian/${package}/lib/$(DEB_HOST_MULTIARCH)/security/libpam_stns.so
	install -d -m 755 debian/${package}/etc/stns/
	install    -m 644 debian/lib_stns.conf debian/${package}/etc/stns/lib_stns.conf

override_dh_usrlocal:
