#!/usr/bin/make -f
# -*- makefile -*-
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

package=libnss-stns
override_dh_auto_configure:
	dh_auto_configure
		sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
		debian/libnss-stns.links.in > debian/libnss-stns.links
		sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
		debian/libnss-stns.install.in > debian/libnss-stns.install
		sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
		debian/libpam-stns.install.in > debian/libpam-stns.install

override_dh_auto_install:
	dh_auto_install
	install -d -m 755 debian/${package}/usr/local/bin/
	install    -m 655 debian/stns-query-wrapper debian/${package}/usr/local/bin/stns-query-wrapper
	install    -m 655 debian/stns-key-wrapper debian/${package}/usr/local/bin/stns-key-wrapper
	install -d -m 755 debian/${package}/usr/lib/$(DEB_HOST_MULTIARCH)/
	install -d -m 755 debian/${package}/etc/stns/
	install    -m 644 debian/libnss_stns.conf debian/${package}/etc/stns/libnss_stns.conf
	install -d -m 755 debian/${package}/lib/$(DEB_HOST_MULTIARCH)/security

override_dh_usrlocal:
